.choices__inner {
  z-index: 500;
  min-height: 39px;
  padding: 4px 10px 3px 10px;
  background-color: transparent;
  border-radius: 6px;
  border-color: var(--color-white);
  font-size: var(--size-text);
  color: var(--color-white);
}

.choices__list--dropdown {
  border-radius: 6px;
  border-color: var(--color-white);
  background-color: transparent;
}

.choices__list--dropdown .choices__item {
  position: relative;
  padding: 9px 19px 10px 19px;
  font-size: var(--size-text);
  line-height: 19px;
  color: #999;
}

#choices--gallerySelectCustom-item-choice-1 {
  display: none;
}

#choices--gallerySelectCustom-item-choice-1,
#choices--gallerySelectCustom-item-choice-2 {
  border-bottom: 1px solid #999;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: var(--color-white);
}
  
.is-open .choices__inner {
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(99, 99, 99, 0.5);
  color: var(--color-white);
}



.choices[data-type*='select-one']::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  right: 15px;
  top: 45%;

  border-style: none;

  transform: rotate(45deg);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.choices[data-type*='select-one'].is-open::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  right: 15px;
  top: 65%;

  border-style: none;

  transform: rotate(225deg);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

