.swiper-container {
  width: 290px;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}

.gallery__slide {
  height: 367px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: cover;
  cursor: pointer;
}

.gallery__slide::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  height: 317px;
  width: 240px;
  background: url(../img/gallery/gallery_slide_increase.svg) center center no-repeat rgba(0, 0, 0, 0.5);
  background-size: 80px 80px ;
  visibility: hidden;
  opacity: 0;

  transition-property: opacity, visibility;
	transition-duration: 1s;
  -webkit-transition-property: opacity, visibility;
	-webkit-transition-duration: 1s;
  -moz-transition-property: opacity, visibility;
	-moz-transition-duration: 1s;
  -o-transition-property: opacity, visibility;
	-o-transition-duration: 1s;
}

.gallery__slide:hover::after {
  opacity: 1;
  visibility: visible;
}

.gallery__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__swiper-pagination {
  color: var(--color-white);
  margin-right: 10px;
}

.swiper-pagination-fraction {
  width: auto;
}

.gallery__swiper-button-prev,
.gallery__swiper-button-next {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.gallery__swiper-button-prev {
  margin-right: 10px;
}


.gallery__swiper-button-next:hover .img_swiper-button path,
.gallery__swiper-button-prev:hover .img_swiper-button path {
  fill: var(--color-purple);

	transition-property: fill;
	transition-duration: 2s;
	-webkit-transition-property: fill;
	-webkit-transition-duration: 2s;
	-moz-transition-property: fill;
	-moz-transition-duration: 2s;
	-o-transition-property: fill;
	-o-transition-duration: 2s;
}

.gallery__swiper-button-next:active .img_swiper-button .path-bord {
  stroke: #D1A9F0;
  fill: #7943A4;

	transition-property: fill, stroke;
	transition-duration: 1s;
	-webkit-transition-property: fill, stroke;
	-webkit-transition-duration: 1s;
	-moz-transition-property: fill, stroke;
	-moz-transition-duration: 1s;
	-o-transition-property: fill, stroke;
	-o-transition-duration: 1s;
}
.gallery__swiper-button-prev:active .img_swiper-button .path-bord {
  stroke: #D1A9F0;
  fill: #7943A4;

	transition-property: fill, stroke;
	transition-duration: 1s;
	-webkit-transition-property: fill, stroke;
	-webkit-transition-duration: 1s;
	-moz-transition-property: fill, stroke;
	-moz-transition-duration: 1s;
	-o-transition-property: fill, stroke;
	-o-transition-duration: 1s;
}

.gallery__swiper-button-next:focus,
.gallery__swiper-button-prev:focus {
  outline: none;
}

.gallery__swiper-button-next:focus .img_swiper-button .path-bord,
.gallery__swiper-button-prev:focus .img_swiper-button .path-bord {
  stroke: #7943A4;

	transition-property: fill, stroke;
	transition-duration: 1s;
	-webkit-transition-property: fill, stroke;
	-webkit-transition-duration: 1s;
	-moz-transition-property: fill, stroke;
	-moz-transition-duration: 1s;
	-o-transition-property: fill, stroke;
	-o-transition-duration: 1s;
}

.gallery__swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;

  transition-property: opacity;
	transition-duration: 1s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
	-moz-transition-property: opacity;
	-moz-transition-duration: 1s;
	-o-transition-property: opacity;
	-o-transition-duration: 1s;
} 

.gallery__swiper-button-disabled:hover .img_swiper-button path {
  cursor: default;
  fill: #666;
}
.gallery__swiper-button-prev:active .img_swiper-button path {
  stroke: none;
  fill: #666;
}
.gallery__swiper-button-disabled:focus .img_swiper-button .path-bord {
  stroke: none;
}


.gallery__slide1 {
  background-image: url(../img/gallery/gallery_mob_1.jpg);
}
.gallery__slide2 {
  background-image: url(../img/gallery/gallery_mob_2.jpg);
}
.gallery__slide3 {
  background-image: url(../img/gallery/gallery_mob_3.jpg);
}
.gallery__slide4 {
  background-image: url(../img/gallery/gallery_mob_4.jpg);
}
.gallery__slide5 {
  background-image: url(../img/gallery/gallery_mob_5.jpg);
}
.gallery__slide6 {
  background-image: url(../img/gallery/gallery_mob_6.jpg);
}
.gallery__slide7 {
  background-image: url(../img/gallery/gallery_mob_7.jpg);
}
.gallery__slide8 {
  background-image: url(../img/gallery/gallery_mob_8.jpg);
}
.gallery__slide9 {
  background-image: url(../img/gallery/gallery_mob_9.jpg);
}
.gallery__slide10 {
  background-image: url(../img/gallery/gallery_mob_10.jpg);
}
.gallery__slide11 {
  background-image: url(../img/gallery/gallery_mob_11.jpg);
}
.gallery__slide12 {
  background-image: url(../img/gallery/gallery_mob_12.jpg);
}
.gallery__slide13 {
  background-image: url(../img/gallery/gallery_mob_13.jpg);
}
.gallery__slide14 {
  background-image: url(../img/gallery/gallery_mob_14.jpg);
}
.gallery__slide15 {
  background-image: url(../img/gallery/gallery_mob_15.jpg);
}
.gallery__slide16 {
  background-image: url(../img/gallery/gallery_mob_16.jpg);
}
.gallery__slide17 {
  background-image: url(../img/gallery/gallery_mob_17.jpg);
}
.gallery__slide18 {
  background-image: url(../img/gallery/gallery_mob_18.jpg);
}
.gallery__slide19 {
  background-image: url(../img/gallery/gallery_mob_19.jpg);
}
.gallery__slide20 {
  background-image: url(../img/gallery/gallery_mob_20.jpg);
}
.gallery__slide21 {
  background-image: url(../img/gallery/gallery_mob_21.jpg);
}
.gallery__slide22 {
  background-image: url(../img/gallery/gallery_mob_22.jpg);
}
.gallery__slide23 {
  background-image: url(../img/gallery/gallery_mob_23.jpg);
}
.gallery__slide24 {
  background-image: url(../img/gallery/gallery_mob_24.jpg);
}
.gallery__slide25 {
  background-image: url(../img/gallery/gallery_mob_25.jpg);
}
.gallery__slide26 {
  background-image: url(../img/gallery/gallery_mob_26.jpg);
}
.gallery__slide27 {
  background-image: url(../img/gallery/gallery_mob_27.jpg);
}
.gallery__slide28 {
  background-image: url(../img/gallery/gallery_mob_28.jpg);
}
.gallery__slide29 {
  background-image: url(../img/gallery/gallery_mob_29.jpg);
}
.gallery__slide30 {
  background-image: url(../img/gallery/gallery_mob_30.jpg);
}



@media (min-width: 768px) {
  .swiper-container {
    width: 668px;
    height: auto;
    flex-direction: column;
    margin-bottom: 14px;
  }

  .gallery__button {
    justify-content: start;
    margin-bottom: 30px;
  }
  
  .swiper-wrapper {
    height: 610px;
  }

  .gallery__slide {
    height: 280px;
    width: 317px;
    margin-top: 0  !important;
    margin-bottom: 0;
  }
  .gallery__slide:nth-child(2n+1) {
    margin-bottom: 34px;
  }

  .gallery__slide::after {
    height: 230px;
    width: 267px;
  }

  .gallery__swiper-pagination,
  .gallery__swiper-button-prev {
    margin-right: 18.5px;
  }
}


@media (min-width: 1024px) {
  .swiper-container {
    margin-right: 0;
    padding-top: 20px;
    margin-bottom: -6px;
  }

  .gallery__button {
    padding-left: 1px;
  }

  .gallery__slide::after {
    height: 82%;
    width: 83%;
  }

}


@media (min-width: 1200px) {
  .gallery__slide::after {
    height: 83%;
    width: 84%;
  }

	.gallery__slide1 {
    background-image: url(../img/gallery/gallery_1.jpg);
  }
  .gallery__slide2 {
    background-image: url(../img/gallery/gallery_2.jpg);
  }
  .gallery__slide3 {
    background-image: url(../img/gallery/gallery_3.jpg);
  }
  .gallery__slide4 {
    background-image: url(../img/gallery/gallery_4.jpg);
  }
  .gallery__slide5 {
    background-image: url(../img/gallery/gallery_5.jpg);
  }
  .gallery__slide6 {
    background-image: url(../img/gallery/gallery_6.jpg);
  }
  .gallery__slide7 {
    background-image: url(../img/gallery/gallery_7.jpg);
  }
  .gallery__slide8 {
    background-image: url(../img/gallery/gallery_8.jpg);
  }
  .gallery__slide9 {
    background-image: url(../img/gallery/gallery_9.jpg);
  }
  .gallery__slide10 {
    background-image: url(../img/gallery/gallery_10.jpg);
  }
  .gallery__slide11 {
    background-image: url(../img/gallery/gallery_11.jpg);
  }
  .gallery__slide12 {
    background-image: url(../img/gallery/gallery_12.jpg);
  }
  .gallery__slide13 {
    background-image: url(../img/gallery/gallery_13.jpg);
  }
  .gallery__slide14 {
    background-image: url(../img/gallery/gallery_14.jpg);
  }
  .gallery__slide15 {
    background-image: url(../img/gallery/gallery_15.jpg);
  }
  .gallery__slide16 {
    background-image: url(../img/gallery/gallery_16.jpg);
  }
  .gallery__slide17 {
    background-image: url(../img/gallery/gallery_17.jpg);
  }
  .gallery__slide18 {
    background-image: url(../img/gallery/gallery_18.jpg);
  }
  .gallery__slide19 {
    background-image: url(../img/gallery/gallery_19.jpg);
  }
  .gallery__slide20 {
    background-image: url(../img/gallery/gallery_20.jpg);
  }
  .gallery__slide21 {
    background-image: url(../img/gallery/gallery_21.jpg);
  }
  .gallery__slide22 {
    background-image: url(../img/gallery/gallery_22.jpg);
  }
  .gallery__slide23 {
    background-image: url(../img/gallery/gallery_23.jpg);
  }
  .gallery__slide24 {
    background-image: url(../img/gallery/gallery_24.jpg);
  }
  .gallery__slide25 {
    background-image: url(../img/gallery/gallery_25.jpg);
  }
  .gallery__slide26 {
    background-image: url(../img/gallery/gallery_26.jpg);
  }
  .gallery__slide27 {
    background-image: url(../img/gallery/gallery_27.jpg);
  }
  .gallery__slide28 {
    background-image: url(../img/gallery/gallery_28.jpg);
  }
  .gallery__slide29 {
    background-image: url(../img/gallery/gallery_29.jpg);
  }
  .gallery__slide30 {
    background-image: url(../img/gallery/gallery_30.jpg);
  }
}

@media (min-width: 1400px) {
  .swiper-container {
    width: 908px;
  }

  .gallery__slide::after {
    height: 82%;
    width: 81.3%;
  }
}

@media (min-width: 1700px) {
  .swiper-container {
    width: 1150px;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
  
  .gallery__button {
    padding-left: 3px;
  }

  .swiper-wrapper {
    height: 750px;
  }

  .gallery__slide {
    width: 350px;
    height: 350px;
  }
  .gallery__slide:nth-child(2n+1) {
    margin-bottom: 50px;
  }
  
  .gallery__slide::after {
    height: 85%;
    width: 85%;
  }
}