.header__container {
	position: relative;
	z-index: 10;
}
.top-block {
	background-color: #000;
}

.top-block__container {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: space-between;
}

.header__logo {
	width: 96.8px;
}

.bottom-block {
	display: none;
}

.burger {
	width: 20px;
	height: 15px;
	/* margin-right: auto; */
	cursor: pointer;
	background-color: transparent;
	border: none;
	position: relative;
}

.burger::before,
.burger::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
	background-color: var(--color-white);

	transition-property: background-color;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0.1s;
	-moz-transition-property: background-color;
	-moz-transition-duration: 0.2s;
	-moz-transition-delay: 0.1s;
	-o-transition-property: background-color;
	-o-transition-duration: 0.2s;
	-o-transition-delay: 0.1s;
}

.burger::after {
	top: auto;
	bottom: 0;
	width: 66%;
}

.burger span {
	position: absolute;
	left: 0;
	top: 44%;
	width: 79%;
	height: 2px;
	background-color: var(--color-white);
	transform: translateY(-50%);

	transition-property: background-color;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0.1s;
	-moz-transition-property: background-color;
	-moz-transition-duration: 0.2s;
	-moz-transition-delay: 0.1s;
	-o-transition-property: background-color;
	-o-transition-duration: 0.2s;
	-o-transition-delay: 0.1s;
}

.burger:focus {
	outline-style: none;
}
.burger:focus::before,
.burger:focus::after,
.burger:focus span {
	background-color: #7943A4;
}


.search__btn {
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.search-btn__icon {
	width: 100%;
	height: 100%;

	transition-property: fill;
	transition-duration: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-property: fill;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0.1s;
	-moz-transition-property: fill;
	-moz-transition-duration: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-property: fill;
	-o-transition-duration: 0.1s;
	-o-transition-delay: 0.1s;
}
.search__btn:focus {
	outline-style: none;
}
.search__btn:focus .search-btn__icon path,
.search__btn:focus .search-btn__icon rect {
	fill: #7943A4;
}



.header__btn--link{
	padding: 10px 30px;
  font-size: 75%;
	color: white;
	border: 2px solid var(--color-purple);

	transition-property: color;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0.1s;
	-moz-transition-property: color;
	-moz-transition-duration: 0.2s;
	-moz-transition-delay: 0.1s;
	-o-transition-property: color;
	-o-transition-duration: 0.2s;
	-o-transition-delay: 0.1s;
}
.header__btn--icon path {
	transition-property: fill;
	transition-duration: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-property: fill;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0.1s;
	-moz-transition-property: fill;
	-moz-transition-duration: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-property: fill;
	-o-transition-duration: 0.1s;
	-o-transition-delay: 0.1s;
}

.header__btn--icon {
	height: 9px;
	width: 9px;
	margin-right: 1px;
}

.form__btn:focus {
	outline-style: none;
}
.form__btn:focus .search-form__icon path,
.form__btn:focus .search-form__icon rect {
	transition-property: fill;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
	-webkit-transition-property: fill;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0.1s;
	-moz-transition-property: fill;
	-moz-transition-duration: 0.2s;
	-moz-transition-delay: 0.1s;
	-o-transition-property: fill;
	-o-transition-duration: 0.2s;
	-o-transition-delay: 0.1s;

	fill: #C283F3;
}	
.search-form__input:focus	{
	outline-style: none;
	caret-color: #C283F3;
}
.search-form__input:focus::-webkit-input-placeholder {
	color:transparent;
}




@media (max-width: 1199.98px) {
	.burger-close {
		width: 20px;
		height: 15px;
		margin-bottom: 22px;
		cursor: pointer;
		background-color: transparent;
		border: none;
		position: relative;
	}

	.burger-close::before,
	.burger-close::after,
	.search-close::before,
	.search-close::after  {
		content: "";
		position: absolute;
		right: 0;
		top: 0px;
		width: 100%;
		height: 2px;
		background-color: var(--color-white);

		transition-property: background-color;
		transition-duration: 0.2s;
		transition-delay: 0.1s;
		-webkit-transition-property: background-color;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0.1s;
		-moz-transition-property: background-color;
		-moz-transition-duration: 0.2s;
		-moz-transition-delay: 0.1s;
		-o-transition-property: background-color;
		-o-transition-duration: 0.2s;
		-o-transition-delay: 0.1s;
	}
	.burger-close::before,
	.burger-close::after {
		top: 7px;
	}
	.burger-close::before,
	.search-close::before  {
		transform: rotate(135deg);
	}
	.burger-close::after,
	.search-close::after  {
		transform: rotate(45deg);
	}

	.burger-close:focus,
	.burger-close:active,
	.search-close:focus,
	.search-close:active {
		outline-style: none;
	}
	.burger-close:focus::before,
	.burger-close:focus::after,
	.search-close:focus::before,
	.search-close:focus::after {
		background-color: #7943A4;
	}

	.burger__block {
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		padding: 15px;
		padding-bottom: 27px;
		z-index: 100;
		background-color: rgba(0, 0, 0, 0.9);
		transition: transform .3s ease-in-out;
		transform: translateX(-101%);
	}

	.header__nav {
		margin-bottom: 24px;
	}

	.nav__list {
		flex-direction: column;
		align-items: flex-start;
	}

	.nav__link {
		font-size: var(--size-nav);
		font-weight: 600;
		color: var(--color-white);

		transition-property: color, outline;
		transition-duration: 0.3s, 0s;
		transition-delay: 0.1s,	0.1s;

		-webkit-transition-property: color, outline;
		-webkit-transition-duration: 0.3s, 0s;
		-webkit-transition-delay: 0.1s,	0.1s;

		-moz-transition-property: color, outline;
		-moz-transition-duration: 0.3s, 0s;
		-moz-transition-delay: 0.1s,	0.1s;

		-o-transition-property: color, outline;
		-o-transition-duration: 0.3s, 0s;
		-o-transition-delay: 0.1s,	0.1s;
		}

	.nav__link:active {
		color: #7943A4;
	}
	.nav__link:focus {
		outline-style: none;
		outline: 2px solid #7943A4;
	}

	.header__btn--link:focus {
		outline-style: none;
		color: var(--color-purple);
	}
	.header__btn--link:focus .header__btn--icon path {
		fill: var(--color-purple);
	}

	.nav__item:not(:last-child) {
		margin-bottom: 12px;
	}

	.search__block {
		position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 13px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
		text-align: right;
		
		opacity: 0;
		visibility: hidden;

    transition-property: opacity, visibility;
		transition-duration: 0.3s, 0.2s;
		transition-delay: 0s, 0s;
	}

	.show {
		opacity: 1;
		visibility: visible;
	}

	.search-close {
		width: 20px;
		height: 15px;
		cursor: pointer;
		background-color: transparent;
		border: none;
		position: relative;
	}

	.search__form {
		justify-content: center;
	}

	.search-form__icon {
		height: 16px;
		width: 16px;
		position: relative;
		top: 3px;
		right: 5px;
	}
  
	.search-form__input {
    width: 180px;
		padding: 3px;
    background-color: transparent;
    color: white;
    border-style: none;
    border-bottom: 1px solid #c4c4c4;
		font-size: var(--size-text-little);
	}
}


@media (min-width: 768px) {
	.top-block__container {
		padding-top: 27px;
		padding-bottom: 27px;
	}
	
	.header__logo {
		width: 188px;
	}

	.burger {
		width: 36px;
		height: 28px;
	}

	.burger span {
		height: 3px;
		top: 50%;
	}
	.burger::before,
	.burger::after {
		height: 3px;
	}

	.search__btn {
		width: 29px;
		height: 29px;
	}

	.header__btn--link{
		padding: 20px 88px;
		font-size: 112.5%;
	}
	
	.header__btn--icon {
		height: 13px;
		width: 13px;
		margin-right: 2px;
	} 

	.search__block {
		display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100%;
    padding: 46px;
	}

	.search-close {
		width: 37px;
		height: 37px;
	}
	.search-close::before,
	.search-close::after {
		height: 3px;
	}
	.search-close::before {
		transform: rotate(135deg);
	}
	.search-close::after {
		transform: rotate(45deg);
	}
	
	.search-form__icon {
		position: relative;
		left: 5px;
		width: 30px;
		height: 30px;
		margin-right: 15px;
	}
  
  .search-form__input {
		position: relative;
		width: 575px;
		padding: 5px;
		font-size: var(--size-nav);
		line-height: 1;
  }
}



@media (min-width: 768px) and (max-width: 1199.98px) {
	.burger-close {
		width: 36px;
		height: 28px;
		margin-bottom: 37px;
	}
	
	.burger-close::before,
	.burger-close::after {
		top: 0;
		height: 3px;
	}
	
	.burger__block {
		padding: 50px;
	}
	.header__nav {
		margin-bottom: 132px;
	}
		
	.nav__link {
		font-size: var(--size-title-little);
	}
	
	.nav__item:not(:last-child) {
		margin-bottom: 37px;
	}

}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.search__block {
		left: auto;
		right: 40px;
		width: auto;
    height: auto;
		padding: 0;
		padding-right: 10px;
		
		background: rgba(0, 0, 0, 1);
	
		opacity: 0;
		visibility: hidden;
	}

	.show {
		opacity: 1;
		visibility: visible;
	}

	.search-close {
		display: none;
	}
	  
  .search-form__input {
		width: 218px;
	}

}


@media (min-width: 1200px) {
  .header__logo {
		width: 173px;
	}

	.header__nav,
	.bottom-block{
		display: inherit;
	}
	.login-link {
		display: inline-block;
	}

	.burger,
	.burger-close,
	.search__block,
	.search__btn {
		display: none;
	}

	.top-block__container {
		width: 100%;
		padding-top: 27px;
		padding-bottom: 30px;
	}

	.burger__block {
		flex: 0 1 78%;
	}
	.header__nav {
		margin-right: auto;
	}

	.nav__list {
		flex-direction: row;
		align-items: flex-start;
	}

	.nav__item:not(:last-child) {
		margin-bottom: 0;
		margin-right: 64px;
	}
	
	.nav__link,
	.bottom-blok__choice {
		font-size: var(--size-nav);
		color: var(--color-white);
		margin-right: 1px;
	}
	.nav__link {
		transition-property: color, outline;
		transition-duration: 0.3s, 0s;
		transition-delay: 0.1s,	0.1s;

		-webkit-transition-property: color, outline;
		-webkit-transition-duration: 0.3s, 0s;
		-webkit-transition-delay: 0.1s,	0.1s;

		-moz-transition-property: color, outline;
		-moz-transition-duration: 0.3s, 0s;
		-moz-transition-delay: 0.1s,	0.1s;

		-o-transition-property: color, outline;
		-o-transition-duration: 0.3s, 0s;
		-o-transition-delay: 0.1s,	0.1s;
		}

	.nav__link:hover {
		color: #C283F3;
	}
	.nav__link:active {
		color: #7943A4;
	}
	.nav__link:focus {
		outline-style: none;
		outline: 2px solid #7943A4;
	}

	.header__btn--link {
		padding: 0;
		color: white;
		font-weight: 400;
		line-height: 1.15;
		border: none;
	}

	.header__btn--icon {
		height: 13px;
		width: 13px;
	}

	.header__btn--link:hover {
		color: #C283F3;
	}
	.header__btn--link:hover .header__btn--icon path {
		fill: #C283F3;
	}
	.header__btn--link:active {
		color: var(--color-purple);
	}
	.header__btn--link:active .header__btn--icon path {
		fill: var(--color-purple);
	}
	.header__btn--link:focus {
		outline-style: none;
		outline: 2px solid #7943A4;
	}

	.bottom-block {
		background-color: rgba(0, 0, 0, 0.4);
	}
	.bottom-block__container {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.bottom-block__item:not(:last-child) {
		margin-right: 94px;
	}
	.bottom-blok__choice {
		transition-property: color;
		transition-duration: 0.3s;
		transition-delay: 0.1s;

		-webkit-transition-property: color;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0.1s;

		-moz-transition-property: color;
		-moz-transition-duration: 0.3s;
		-moz-transition-delay: 0.1s;

		-o-transition-property: color;
		-o-transition-duration: 0.3s;
		-o-transition-delay: 0.1s;
	}

	.bottom-blok__choice--icon {
		width: 13px;
		height: 13px;

		transition: transform 0.3s;
	}

	.bottom-block__item:hover .bottom-blok__choice--icon path {
		stroke: var(--color-purple);
	}
	.bottom-block__item:hover .bottom-blok__choice--icon {
		transform: rotate(540deg);
	}
	.bottom-block__item:hover .bottom-blok__choice {
		color:var(--color-purple);
	}
	.bottom-block__item:active .bottom-blok__choice--icon path {
		stroke: #7943A4;
	}
	.bottom-block__item:active .bottom-blok__choice {
		color: #7943A4;
	}
	.bottom-block__item:active .bottom-blok__choice--icon {
		transform: rotate(540deg);
	}

	.open-dropdown:focus {
		outline-style: none;
		outline: 2px solid #7943A4;
	}

	.bottom-block__list {
		margin-right: auto;
	}
	.search-form {
		padding-top: 5px;
	}

	.search-form__icon {
		border-style: none;
		width: 25px;
		height: 25px;
		margin-right: 10px;
	}
	

	.search-form__input {
		width: 222px;
		border-style: none;
		background-color: transparent;
		color: var(--color-white);
		border-bottom: 1px solid rgba(255, 255, 255, 0.85);
	}
	
	.search-form__input::placeholder {
		font-size: var(--size-nav);
		color: rgba(255, 255, 255, 0.85);
	}

	.search-form:hover .search-form__icon path,
	.search-form:hover .search-form__icon rect {
		transition-property: fill;
		transition-duration: 0.2s;
		transition-delay: 0.1s;
		-webkit-transition-property: fill;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0.1s;
		-moz-transition-property: fill;
		-moz-transition-duration: 0.2s;
		-moz-transition-delay: 0.1s;
		-o-transition-property: fill;
		-o-transition-duration: 0.2s;
		-o-transition-delay: 0.1s;

		fill: #C283F3;
	}
	.search-form:hover .search-form__input {
		transition-property: border-bottom-color;
		transition-duration: 0.2s;
		transition-delay: 0.1s;
		-webkit-transition-property: border-bottom-color;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0.1s;
		-moz-transition-property: border-bottom-color;
		-moz-transition-duration: 0.2s;
		-moz-transition-delay: 0.1s;
		-o-transition-property: border-bottom-color;
		-o-transition-duration: 0.2s;
		-o-transition-delay: 0.1s;

		border-bottom-color: #C283F3;
	}
	.search-form__input:focus	{
		outline-style: none;
		caret-color: #C283F3;
	}
	.search-form__input:focus::-webkit-input-placeholder {
		color:transparent;
	}


	.bottom-block__item {
		position: relative;
	}

	.dropdown-list {
		position: absolute;
		display: block;
		width: 300px;
		height: auto;
		padding: 40px;
		padding-right: 13px;
		left: 0;
		top: 45px;  /*!!!!!*/
		background-color: rgba(0, 0, 0, 0.6);
		
		opacity: 0;
		visibility: hidden;
		
		transition-property: opacity, visibility;
		transition-duration: .3s, 0.3s;
		transition-delay: 0.3s, .3s;
	}

	/*на всяк случай вдруг на устройстве не раб js*/
	.simplebar-content-wrapper {
		overflow: auto;
	} 
	
	.dropdown-customScroll {
		width: 247px;
		max-height: 220px;
	}

	.dropdown-customScroll .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
		width: 2px;
		background: var(--color-purple);
	}

	.bottom-block__item::after {
		content: '';
		position: absolute;
		top: -25px;
		left: 0;
		width: 100%;
		height: 70px;
		cursor: pointer;
	}
	
	.bottom-block__item:hover .dropdown-list{
		visibility: visible;
		opacity: 1;
	}
	
	.bottom-block__item::after:hover .dropdown-list {
		visibility: visible;
		opacity: 1;
	}

	.dropdown-list__item {
		width: 220px;
		padding: 9px;
		cursor: pointer;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border: 2px solid transparent;

		display: inline-block;
		position: relative; 

		transition-property: border-color;
		transition-duration: 0.2s;
		transition-delay: 0.1s;
		-webkit-transition-property: border-color;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0.1s;
		-moz-transition-property: border-color;
		-moz-transition-duration: 0.2s;
		-moz-transition-delay: 0.1s;
		-o-transition-property: border-color;
		-o-transition-duration: 0.2s;
		-o-transition-delay: 0.1s;
	}

	/* при нажатии на художника в выпадающем меню добавляется розовый фон */
	.dropdown-list__item:active::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;    
		position: absolute;
		top: 0;    
		left: 0;   
		background: transparent;
		background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
	}

	.dropdown-list__item:not(:last-child) {
		margin-bottom: 20px;
	}

	.dropdown-list__item:hover {
		border-color: var(--color-purple);
	}
	
	.dropdown-list__link {
		color: var(--color-white);
	}


}

@media (min-width: 1200px) and (max-width: 1402px){
	.nav__item:not(:last-child) {
		margin-right: 35px;
	}
	.bottom-block__item:not(:last-child) {
		margin-right: 50px;
	}
	.search-form__input {
		width: 182px;
	}
}