.hero {
	margin-bottom: 53px;
}

.hero__block {
	display: flex;
  align-items: center;
  flex-direction: column;
	text-align: center;
	margin-top: -45px;
	background: url(../img/hero-background-casle-mobx2.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: transparent;
	background-size: cover;
	animation: pulse 5s ease-in-out infinite;
  -webkit-animation: pulse 10s ease-in-out infinite;
}

.hero__container {
	display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
	padding-top: 77px;
	padding-bottom: 45px;
	width: 100%;
}
@keyframes pulse {
  0% { background-size: 100% 100%;}
  50% { background-size: 120% 120%; }
  100% { background-size: 100% 100%; }
}
@-webkit-keyframes pulse {
  0% { background-size: 100% 100%;}
  50% { background-size: 120% 120%; }
  100% { background-size: 100% 100%; }
}

.hero__title {
	max-width: 250px;
  margin-bottom: 11px;
  font-size: 210%;
  line-height: 2.38rem;
  color: var(--color-white);
}

.hero__descr {
	max-width: 265px;
  margin-bottom: 42px;
  font-size: var(--size-text-little);
  line-height: 1rem;
  color: var(--color-white);
}

.hero__btn {
	padding: 11px 21px;
	color: var(--color-white);
  background-color: var(--color-purple);
}

/* .hero__btn:hover {
  border-color: #D1A9F0;
} */
.hero__btn:focus {
	border-color: #D1A9F0;
	background-color: #7943A4;
  outline: none;
}
.hero__btn:active {
  border-color: #D1A9F0;
  background-color: #7943A4;
}

@media (min-width: 768px) {
	.hero {
		margin-bottom: 85px;
		height: 768px;
	}
	
	.hero__block {
		margin-top: -100px;
		height: 100%;
		background-position: center center;
	}

	.hero__container {
		padding-top: 215px;
		align-items: flex-start;
		text-align: left;
	}
	
	.hero__title {
		max-width: 585px;
    font-size: 450%;
    line-height: 5.13rem;
    font-weight: 600;
	}
	
	.hero__descr {
		max-width: 660px;
    margin-bottom: 135px;
    font-size: var(--size-nav);
    line-height: 1.875rem;
	}
	
	.hero__btn {
		padding: 25px 40px;
	}
	
	.hero__btn:hover {
		border-color: #D1A9F0;
	}
}

@media (min-width: 1200px) {
	.hero {
		height: 800px;
	}
	
	.hero__block {
		margin-top: -170px;
		height: 100%;
		background: url(../img/hero-background-casle-1920.jpg);
	}

	.hero__container {
		padding-top: 241px;
		padding-bottom: 50px;
	}
	
	.hero__title {
		margin-bottom: 21px;
	}
	
	.hero__descr {
		max-width: 570px;
    margin-bottom: 93px;
	}
}
