@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.woff') format('woff');
}

* {
	box-sizing: border-box;
}

::after,
::before {
  box-sizing: inherit;
}

:root {
  --color-white: #fff;
  --color-main: #333;
  --color-grey: #999;
  --color-purple: #9D5CD0;

  --size-title: 175%;
  --size-title-little: 150%;
  --size-nav: 112.5%;
  --size-text: 100%;
  --size-text-little: 75%;
}

img {
  max-width: 100%;
}

a {
	color: inherit;
  text-decoration: none;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  color: var(--color-main);
  /* font-size: var(--size-text); */
}

.container{
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.list-reset {
	margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
	padding: 0;
	border-style: none;
	background-color: transparent;
	cursor: pointer;
}

.flex {
	display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: var(--size-text-little);
  font-family: 'OpenSans';
  line-height: 1rem;
  color: var(--color-main);
  border: 1px solid var(--color-purple);
  border-radius: 100px;
}

.title {
  margin: 0;
  margin-bottom: 15px;
  font-size: var(--size-title);
  /* line-height: 2.375rem; */
  font-weight: 400;
}

.descr {
	margin: 0;
}


@media (min-width: 768px) {
	.container{
		padding-right: 50px;
		padding-left: 50px;
  }
  
  .btn {
    font-size: var(--size-nav);
  }
  
  .title {
    margin-bottom: 13px;
    font-size: 300%;
    /* line-height: 4.06rem; */
  }


}
@media (min-width: 1200px) {
	.container{
		max-width: 1700px;
	}


}